@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --white: #fff;
  --blue: #2563eb;
  --navy-blue: #0f172a;
  --slate-blue: #1e293b;
  --tag-blue: #334155;
  --green: #18bc9c;
  --red: #ec4a57;
  --yellow: #f39c13;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--navy-blue);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
